.produto__container {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    font-size: 18px;
    font-family: Andale Mono;
    font-weight: 600;
    background-image: url('https://brancopapeldeparede.fbitsstatic.net/img/p/papel-de-parede-palha-degrade-laranja-766-72676/244928-1.jpg?w=817&h=1108&v=no-change&qs=ignore');

  }


  .produto__card__container{
      display: flex;
      flex-direction: row;
      gap: 16px;
  }