@import '~antd/dist/antd.css';

.main{
  height: 100vh;
}

.divisor{
  color: black;
}

.main__content{
  height: inherit;
}

.header{
  background-color: #f3efe3;
}

.imgHeader{
  margin-top: 2px;
  margin-bottom: 2%;
}

.menu{
  background-image: url('https://bobinex.fbitsstatic.net/img/p/papel-de-parede-degrade-trinchado-amarelo-e-laranja-98070/285423-1.jpg?w=570&h=570&v=no-change&qs=ignore');
  padding: 16px;
}

.footer{
  background-color: #fdcb95;
  text-align: center;
  font-weight: 600;
  font-family: Andale Mono, monospace;
}

.menu__section{
  background-color: #f3efe3 ;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textHeader{
  font-size: 30px;
  margin-left: 40%;
  font-family: Andale Mono, monospace;
  font-weight: 600;
  color: black;
}

.imgMenu{
  margin-left: 32%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-bottom: 2%;
}

