@import '~antd/dist/antd.css';

.main{
  height: 100vh;
}

.divisor{
  color: black;
}

.main__content{
  height: inherit;
}

.header{
  background-color:  #ffffff;
}

.imgHeader{
  margin-top: 2px;
  margin-bottom: 2%;
}

.menu{
  background-image: url('https://brancopapeldeparede.fbitsstatic.net/img/p/papel-de-parede-palha-degrade-laranja-766-72676/244928-1.jpg?w=817&h=1108&v=no-change&qs=ignore');
}

.footer{
  background-color: #e7a267;
  text-align: center;
  font-weight: 600;
  font-family: Andale Mono, monospace;
}

.menu__section{
  background-color: #fffefa;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textHeader{
  font-size: 6vh;
  margin-left: 40%;
  font-family: Andale Mono, monospace;
  font-weight: 600;
  color: #e7a267;
}

.imgMenu{
  margin-left: 32%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-bottom: 2%;
}

/* =================== */

.textoBody{
  font-size: 5vh;
  margin-top: 5%;
  margin-left: 10%;
}

.body{
  background-image: url('https://brancopapeldeparede.fbitsstatic.net/img/p/papel-de-parede-palha-degrade-laranja-766-72676/244928-1.jpg?w=817&h=1108&v=no-change&qs=ignore');
}